= javascript_include_tag 'http://www.nblackburn.ca/static/lib/num.js'
%body
	.container{style: 'padding: 25px;'}
		.col-md-10
			.startup-controls.text-center
				= button_tag(nil, class: 'connect-serial btn btn-success btn-lg', style: 'margin-top: 100px;') do
					%span
						Connect to Spectrometer
						=fa_icon 'usb'
			.container{style: 'display: none;'}
				.spectral-data#data-area{style: 'height: 500px; width: 1000px;'}

				.running-controls{style: 'width: 100%; margin-left: 50px; margin-bottom: 100px;'}
					%div{style: 'height: 40px; padding-left: 15px;'}
						%p.running-icon{style: 'display: none;'}
							%span
								Reading...
								= fa_icon 'spinner', class: 'running-icon fa-spin fa-2x', style: 'display: none;'
					.col-md-10
						%table.table.table-bordered
							%tbody
								%tr
									%td
										= button_tag 'start auto-read', class: 'btn btn-success auto-read-toggle'
									%td
										= button_tag 'get single read', class: 'btn btn-primary get-reading-btn'
									%td.text-center
										= button_tag 'Exposure time', class: 'btn adjust-exposure-btn'
										= button_tag 'Linear function', class: 'btn adjust-quadratic-btn'
										= button_tag 'Pixel read range', class: 'btn adjust-pixel-range-btn'
										= button_tag 'Disable FFT', class: 'btn disable-fft-btn'
										= button_tag 'Toggle x-axis', class: 'btn toggle-x-axis-btn'
										.adjust-exposure-field{style: 'display: none;'}
											Exposure Time:
											= number_field_tag '1', nil, min: 1, max: 1000, step: 1, class: 'exposure-time-field'
											= button_tag 'done', class: 'btn btn-success finished-calibration-btn'
										%span.quadratic-calibration-fields{style: 'display: none;'}
											λ =
											= number_field_tag '', nil, class: 'slope-field', style: 'max-width: 65px;'
											*pixel_number +
											= number_field_tag '', nil, class: 'intercept-field', style: 'max-width: 65px;'
											= button_tag 'done', class: 'btn btn-success finished-calibration-btn'
										.pixel-range-calibration-fields{style: 'display: none;'}
											%span
												START_PIXEL:
												= number_field_tag '', nil, min: 1, class: 'start-pixel-field'
											%span
												END_PIXEL
												=number_field_tag '', nil, max: 3800, class: 'end-pixel-field'
											= button_tag 'done', class: 'btn btn-success finished-calibration-btn'



						