= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js'
%body
	.col-md-12
		.startup-controls.text-center
			= button_tag(nil, class: 'connect-serial btn btn-success btn-lg', style: 'margin-top: 100px;') do
				%span
					Connect to Spectrometer
					=fa_icon 'usb'
		.container{style: 'display: none;'}
			.spectral-data#data-area{style: 'height: 500px; width: 1000px;'}

			.running-controls{style: 'margin-left: 50px; margin-bottom: 100px;'}
				.col-md-10
					= button_tag 'start auto-read', class: 'btn btn-primary auto-read-toggle'
					= fa_icon 'spinner', class: 'running-icon fa-spin fa-2x', style: 'display: none;'
				.col-md-2
					= button_tag 'get single read', class: 'btn btn-secondary get-reading-btn'